body * {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: black;
}

body a:hover, body a:focus, body input:hover, body input:focus {
  background-color: rgb(200, 200, 200);
}

body a {
  color: black;
  background-color: rgb(235, 235, 235);
}

hr {
  margin: 15px auto;
}

p {
  line-height: 10vw;
  font-family: sans-serif;
}

@media only screen and (min-width: 400px) {
  p {
    line-height: 40px;
  }
}




/* --------------------- Styling the Header ------------------------ */
header {
  width: 100vw;
  color: white;
  padding: 10px;
  max-height: 150px;
  background-color: black;
}

.header-container {
  max-width: 760px;
  margin: 0 auto;
}

header img {
  height: 19vw;
  max-height: 80px;
  float: left;
  margin-right: 30px;
}

h1 {
  font-size: 8vw;
  font-family: sans-serif;
}
header span {
  display: inline-block;
}

@media only screen and (min-width: 450px){
  h1 {
    font-size: 36px;
  }
  header {
    height: 102px;
  }
}

@media only screen and (min-width: 674px){ /* When text wraps to a single line */
  h1 {
    padding: 20px 0;  
  }
}


/* --------------- Styling for ICON CONTACT INFO ---------------- */
address.icon-contacts {
  width: 100vw;
  max-width: 1000px;
  background-color: white;
  padding-top: 10px;
  margin: 0 auto;
}

ul.icon-contacts {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10vw;
  padding-right: 10vw;
}

ul.icon-contacts img {
  width: 50px;
}

ul.icon-contacts a {
  background-color: initial;
}

ul.icon-contacts li {
  display: inline-block;
  text-align: center;
  width: 32%;
}



/* --------------- Styling for ABOUT ME ---------------- */
main {
  background-color: white;
  padding: 10px;
  font-size: 5vw;
  max-width: 1000px;
  margin: 0 auto;
}

.about-me {
  text-align: center;
  background-image: url('./images/gears-idea-clipart.jpg');
}

.about-me-text {
  margin-top: 10px;
  background-clip: content-box;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px white;
}



.unicycle-pic-height {
  height: 200px;
  overflow: hidden;
}

.unicycle-pic-width {
  border: 1px solid black;
  padding: 5px;
  background-image: url('./images/unicycle edited.jpeg');
  background-clip: content-box;
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100%;
  width: 90vw;
  max-width: 300px;
  margin: 0 auto;
}

.unicycle-pic-width:hover {
  cursor: pointer;
}


.life-story {
  display: none;
}

p.life-story {
  margin-top: 15px;
}

.life-story a {
  font-style: italic;
}

label {
  display: block;
  font-style: italic;
  font-size: 4.2vw;
  text-align: center;
}

label[for='more-about-morgan'] {
  margin-top: 10px;
}

#more-about-morgan, #less-about-morgan { /* The SHOW-MORE and SHOW-LESS buttons */
  width:50px;
  height: 25px;
  text-align: center;
}

.more-about-morgan-container, .less-about-morgan-container {
  text-align: center;
}


#less-about-morgan {
  margin-top: 10px;
}

@media only screen and (min-width: 400px){
  main {
    font-size: 20px;
  }
  label {
    font-size: 16.8px;
  }

  .about-me-text {
    text-align: left;
    padding: 0 10px;
  }
}





/* ---------- Styling for Projects Section ------------ */
.projects {
  text-align: center;
}

h2, h3 {
  font-family: sans-serif;
}

.projects h2 {
  font-size: 10vw;
  margin-bottom: 15px;
}

.projects h3 {
  font-size: 8vw;
  margin-bottom: 10px;
}

.projects li {
  margin-bottom: 15px;
}

.project-content {
  margin-bottom: 30px;
}
.project-content.dummy-credentials {
  margin: -20px auto 30px auto;
  max-width: 705px;
}

.project-content-title {
  font-style: italic;
}

.screenshot {
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
}
.dummy-login {
  text-align: center;
  display: inline-block;
  width: 49%;
}
.dummy-user {
  font-style: italic;
}
.sidenote {
  display: block;
  font-style: italic;
  font-size: 4.5vw;
  margin: 10px 0;
  text-align: center;
}




.front-end, .back-end {
  display: inline-block;
  width: 47%;
  padding: 0 10px 10px 20px;
  vertical-align: top;
  margin-top: 10px;
  font-size: 4.5vw;
}

.back-end {
  border-left: 1px solid black;
}

.projects .tech-stack {
  display: block;
  line-height: 10vw;
  font-family: sans-serif;
}

.projects li.stack-item {
  line-height: 1em;
  margin: 0 0 12px 0;
  text-decoration: none;
  display: block;
  width: 100%;
}

.tech-stack-header {
  text-decoration: underline;
  display: block;
  font-style: italic;
}

@media only screen and (min-width: 400px){

  .front-end, .back-end {
    font-size: 18px;
  }

  .projects .tech-stack {
    line-height: 40px;
  }

  .projects {
    text-align: left;
    padding: 0 10px;
  }
  .front-end ul, .back-end ul {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 450px){

  .projects h2 {
    font-size: 45px;
  }
  .projects h3 {
    font-size: 36px;
  }
  .sidenote {
    font-size: 19px;
  }
}

@media only screen and (min-width: 600px){
  .project-container {
    padding: 0 10px 0 20px;
  }
  .projects h2 {
    text-align: left;
  }
  /* .projects ul {
    display: inline-block;
  } */
  .projects li {
    display: inline-block;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1000px){
  .screenshot.endurancedata{
    float: left;
    margin: 10px 15px 0 0;
  }
  .screenshot.bookmark-app{
    float: right;
    margin: 0 0 0 15px;
  }
}




/* -------------- Styling for Footer/Contact Info -------------- */
footer a:hover, footer a:focus {
  background-color: rgb(80, 80, 80);
}

footer {
  background-color: black;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 40px;
}

footer p {
  font-style: italic;
  margin: 10px 0 20px 0;
}

footer address {
  font-style: normal;
}

footer li {
  margin-bottom: 15px;
}

footer a {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 700px){
  footer li {
    display: inline-block;
    margin-right: 8vw;
  }
  footer ul {
    margin-bottom: 30px;
  }
}