body * {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

body a:hover, body a:focus, body input:hover, body input:focus {
  background-color: rgb(230, 230, 230);
}

body a {
  color: rgb(60, 60, 60)
}

hr {
  margin: 25px auto;
}

hr.project-break {
  margin-bottom: 40px;
}

p {
  line-height: 10vw;
  font-family: sans-serif;
}

@media only screen and (min-width: 400px) {
  p {
    line-height: 40px;
  }
}




/* --------------------- Styling the Header ------------------------ */
header {
  width: 100vw;
  color: white;
  padding: 10px;
  max-height: 150px;
  background-color: rgb(60, 60, 60);
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 6vw;
  font-family: sans-serif;
}
header span {
  display: inline-block;
  width: 40vw;
  max-width: 50%;
}

header .align-left {
  text-align: left;
  margin-right: calc(100vw - 28px - 80vw);
}
header .align-right {
  text-align: right;
}

@media only screen and (min-width: 450px) {
  h1 {
    font-size: 27px;
  }
  header .align-right, header .align-left {
    margin: 0;
    width: 49%;
  }
}





/* --------------- Styling for ICON CONTACT INFO ---------------- */
address.icon-contacts {
  width: 100vw;
  background: linear-gradient(rgb(60, 60, 60), rgb(150, 150, 150));
  padding-top: 10px;
  margin: 0 auto;
}

ul.icon-contacts {
  max-width: 400px;
  margin: 0 auto;
}

.icon {
  width: 13vw;
  max-width: 50px;
  background-color: white;
}

ul.icon-contacts a {
  background-color: initial;
}

ul.icon-contacts li {
  display: inline-block;
  text-align: center;
  width: 23%;
}
.github.icon {
  border-radius: 25px;
} 
.email.icon, .linkedin.icon, .resume.icon {
  border-radius: 5px;
}

.tooltip {
  position: absolute;
  top: 25px;
  visibility: hidden;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s;
}

address a:hover .tooltip {
  opacity: 1;
  visibility: visible;
}



/* --------------- Styling for ABOUT ME ---------------- */
main {
  background-color: white;
  font-size: 5vw;
  max-width: 1000px;
  margin: 0 auto;
}

.about-me-background {
  background: linear-gradient(rgb(150, 150, 150), rgb(220, 220, 220) 33%, rgb(220, 220, 220) 66%, white 100%);
  width: 100vw;
}

.about-me {
  max-width: 1000px;
  padding: 10px;
  text-align: center;
  margin: 0 auto 150px auto;
}

.about-me-text {
  margin-top: 10px;
  text-shadow: 1px 0 4px white;
}



.unicycle-pic-height {
  height: 205px;
  overflow: hidden;
}

.unicycle-pic-width {
  border: 1px solid black;
  padding: 5px;
  background-image: url('./images/unicycle edited.jpeg');
  background-clip: content-box;
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100%;
  width: 90vw;
  max-width: 300px;
  margin: 0 auto;
}

.unicycle-pic-width:hover {
  cursor: pointer;
}


.life-story {
  display: none;
}

p.life-story {
  margin-top: 15px;
}

.life-story a {
  font-style: italic;
}

label {
  display: block;
  font-style: italic;
  font-size: 4.2vw;
  text-align: center;
}

label[for='more-about-morgan'] {
  margin-top: 10px;
}

#more-about-morgan, #less-about-morgan { /* The SHOW-MORE and SHOW-LESS buttons */
  width: 50px;
  height: 25px;
  text-align: center;
}

.more-about-morgan-container, .less-about-morgan-container {
  text-align: center;
}


#less-about-morgan {
  margin-top: 10px;
}

@media only screen and (min-width: 400px){
  main {
    font-size: 20px;
  }
  label {
    font-size: 16.8px;
  }

  .about-me-text {
    text-align: left;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .about-me-background {
    padding-top: 50px;
    position: relative;
    right: calc((100vw - 1000px) / 2);
  }
  address.icon-contacts {
    padding-top: 50px;
  }
  .unicycle-pic-height {
    float: left;
    margin-right: 20px;
  }
  .more-about-morgan-container {
    margin-bottom: 150px;
  }
}





/* ---------- Styling for Projects Section ------------ */
.projects {
  text-align: center;
}

h2, h3 {
  font-family: sans-serif;
}

.projects h2 {
  padding: 0 0 30px 20px;
  font-size: 10vw;
}

.projects h3 {
  font-size: 8vw;
  margin-bottom: 10px;
}

.projects li {
  margin-bottom: 15px;
}

.project-links {
  margin-bottom: 15px;
}

.project-container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto 30px auto;
}

/* ----- Background Colors for each section ---- */
.project-background {
  width: 100vw;
  padding: 15px 0;
}
.project-background.goodtimes {
  background: linear-gradient(white 1%, rgba(87,93,152, 0.5) 33%, rgba(87,93,152, 0.5) 66%, white 100%);
}
.project-background.atlas {
  background: linear-gradient(white 1%, rgba(255, 155, 88, 0.9) 33%, rgba(255, 155, 88, 0.9) 66%, white 100%);
}
.project-background.word-search-generator {
  background: linear-gradient(white 1%, rgb(180, 240, 180) 33%, rgb(180, 240, 180) 66%, white 99%);
}
.project-background.endurance-data {
  background: linear-gradient(white 1%, rgba(254, 121, 64, 0.8) 33%, rgba(254, 121, 64, 0.8) 66%, white 100%);
}

/* ----- --------------------------------- ---- */


.project-content {
  margin-bottom: 30px;
}
.project-content.dummy-credentials {
  margin: -20px auto 30px auto;
  max-width: 705px;
}

.project-content-title {
  font-style: italic;
}

.screenshot {
  max-width: 500px;
  width: 100%;
  margin: 0 0 10px 0;
}
.screenshot.word-search-generator {
  border: 1px solid rgb(240, 240, 240)
}
.dummy-login {
  text-align: center;
  display: inline-block;
  width: 49%;
}
.dummy-user {
  font-style: italic;
}
.sidenote {
  display: block;
  font-style: italic;
  font-size: 4.5vw;
  margin: 10px 0;
  text-align: center;
}




.front-end, .back-end {
  display: inline-block;
  width: 47%;
  padding: 0 10px 10px 20px;
  vertical-align: top;
  margin-top: 10px;
  font-size: 4.5vw;
}

.front-end {
  border-right: 1px solid gray;
}

.projects .tech-stack {
  display: block;
  line-height: 10vw;
  font-family: sans-serif;
}

.projects li.stack-item {
  line-height: 1em;
  margin: 0 0 12px 0;
  text-decoration: none;
  display: block;
  width: 100%;
}

.tech-stack-header {
  text-decoration: underline;
  display: block;
  font-style: italic;
}

@media only screen and (min-width: 400px){
  .screenshot {
    display: block;
    margin: 0 auto 20px auto;
  }
  .front-end, .back-end {
    font-size: 18px;
  }

  .projects .tech-stack {
    line-height: 40px;
  }

  .projects {
    text-align: left;
  }
  .front-end ul, .back-end ul {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 450px){

  .projects h2 {
    font-size: 45px;
  }
  .projects h3 {
    font-size: 36px;
  }
  .sidenote {
    font-size: 19px;
  }
}

@media only screen and (min-width: 600px){
  .project-container {
    padding: 20px 30px;
  }
  .projects li {
    display: inline-block;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1000px){
  .screenshot {
    display: inherit;
  }
  .project-background {
    position: relative;
    right: calc((100vw - 1000px) / 2 );
  }
  .screenshot.endurancedata, .screenshot.atlas {
    float: right;
    margin: 10px 0 0 15px;
  }

  .screenshot.goodtimes {
    float: left;
    margin: 10px 15px 0 0;
  }

  .screenshot.word-search-generator {
    display: inline-block;
  }
  .word-search-generator .project-content.description {
    display: inline-block;
    width: 380px;
    vertical-align: top;
    margin-left: 10px;
  }
}




/* -------------- Styling for Footer/Contact Info -------------- */
footer h2 {
  font-size: 40px;
}

footer a:hover, footer a:focus {
  background-color: rgb(80, 80, 80);
}

footer {
  background-color: rgb(60, 60, 60);
  padding: 30px 10px 10px 10px;
  color: white;
  text-align: center;
  margin-top: 40px;
}

footer p {
  font-style: italic;
  margin: 10px 0 20px 0;
}

footer address {
  font-style: normal;
}

footer li {
  margin-bottom: 15px;
}

footer a {
  background-color: rgb(60, 60, 60);
  color: white;
}

@media only screen and (min-width: 700px){
  footer li {
    display: inline-block;
    margin-right: 8vw;
  }
  footer ul {
    margin-bottom: 30px;
  }
}